/* Estilos para o corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff; 
}

/* Estilos para o cabeçalho */
.jumbotron {
    background-color: #87ceeb; 
    padding: 50px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.jumbotron h1,
.jumbotron p {
    color: #fff; 
    font-family: 'Pacifico', cursive; 
}

/* Estilos para os ícones de redes sociais */
.social-icons img {
    width: 50px; 
    margin-right: 10px; 
}

/* Estilos para a seção de contato */
.contact-info {
    text-align: right;
}

.contact-info p {
    margin-bottom: 10px;
}

/* Estilos para o formulário de reserva */
.reservation-form {
    max-width: 400px; 
    margin: 0 auto; 
}

.reservation-form input,
.reservation-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
}

.reservation-form button {
    width: 100%;
    padding: 10px;
    background-color: #87ceeb; 
    border: none;
    border-radius: 5px;
    color: #fff; 
    font-weight: bold;
    cursor: pointer;
}

/* Estilos adicionais */
.container {
    margin-bottom: 50px; 
}
